/* ---------------------------------------Contact & Address--------------------------------------- */

.contact-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.address {
    background-color: #FA4368;
    margin: 2rem 1rem 2rem 0;
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
}

.contact {
    background-color: #04BDC9;
    margin: 2rem 0;
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
}

.location-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.location-info .map {
    padding: 2rem;
    width: 100%;
}

.location-info .qr-code {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-info .qr-code img {
    width: 250px;
    height: 250px;
}


/* ---------------------------------------Interest Form--------------------------------------- */

.interest-form {
    margin: 2rem 0;
    padding: 2rem;
    background-color: #FFB600;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.submit-button {
    text-align: center;
}

.submitBtn {
    font-weight: 700;
    padding: 0.75rem 2rem;
    border: 2px solid #050505;
    transition: all 0.3s ease;
    width: 250px;
    background-color: white;
}

.submitBtn:hover {
    border: 2px solid #04BDC9;
    background-color: #04BDC9;
    color: white;
}


/* ---------------------------------------Media Queries--------------------------------------- */

@media (max-width: 800px) {
    .contact-info,
    .location-info {
        flex-direction: column;
    }
    .location-info iframe {
        width: -webkit-fill-available;
        margin: auto;
    }
}