.header img {
    width: 60px;
    height: 60px;
    padding: 5px;
    height: 100%;
    float: left;
    background: linear-gradient(to top, rgba(254, 254, 254, 0.4), rgba(250, 250, 250, 0));
}

.right {
    margin-left: 1rem;
}

.mylink:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .left {
        width: 45px;
        height: 45px;
    }
    .right h2 {
        font-size: 1.5rem;
    }
    .right p {
        font-size: 11px;
    }
}