/* ------------------------------------TSF-Info------------------------------------ */

.TSF-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
    /* border: 1px solid #111; */
}

.TSF-info-right {
    width: 100%;
    /* border: 2px solid black; */
    padding: 2rem 6rem;
    /* text-align: center; */
}

.TSF-info-right h2 {
    margin-bottom: 1rem;
}

.TSF-info-right a {
    margin-top: 1rem;
    text-decoration: none;
}

.know-more-button {
    font-weight: 700;
    padding: 1rem 2rem;
    border: 2px solid #050505;
    transition: all 0.3s ease;
    width: 250px;
    background-color: white;
}

.know-more-button:hover {
    border: 2px solid #04BDC9;
    background-color: #04BDC9;
    color: white;
}


/* ------------------------------------grip-info------------------------------------ */

.grip-container {
    margin: 11rem 0 11rem 0;
    padding: 3rem 0;
    background: url('../assets/bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 70vh; */
}

.grip-info {
    display: flex;
    flex-direction: row;
}

.grip-info-heading h1 {
    font-size: 65px;
    color: #FFB600;
}

.grip-know-more-btn {
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #050505;
    transition: all 0.3s ease;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
}

.grip-know-more-btn:hover {
    border: 2px solid #FFB600;
    background-color: #FFB600;
    color: white;
}

.grip-info-content {
    display: flex;
    justify-content: center;
}

.content-box {
    padding: 2em;
    width: 90%;
    margin: 0 auto;
    background-color: #FFB600;
}

.content-box h5 {
    line-height: 1.5;
}


/* ------------------------------------Extra info------------------------------------ */

.extra-info-top {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.extra-info-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11rem;
}

.tile {
    width: 100%;
    margin: 1rem;
    padding: 1.75rem;
    /* border: 3px solid #111; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.12), 0 1px 9px rgba(0, 0, 0, 0.24);
    transition: box-shadow .3s ease-out;
}

.tile:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow .3s ease-in;
}

.tile h4 {
    text-align: center;
    color: #FA4368;
}

.tile-content {
    margin-top: 2rem;
    text-align: center;
}


/* ------------------------------------------------------------------ */

.join-us {
    background: url('../assets/bg2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.overlay-text {
    margin: 4rem 2rem;
    background: rgba(0, 0, 0, 0.65);
    padding: 2rem;
    color: #fff;
}

.counter-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ececec;
}

.counter-section .counter {
    color: #04BDC9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-whole {
    width: 100%;
    text-align: center;
}

.counter-section .join-us {
    width: 100%;
}

.counter-item {
    display: flex;
    flex-direction: row;
}

.counter-item .item-left,
.counter-item .item-right {
    width: 100%;
    padding: 2rem;
}


/* ------------------------------------media-queries------------------------------------ */

@media (max-width: 800px) {
    .TSF-info {
        margin-top: 2rem;
        flex-direction: column;
    }
    .TSF-info-right {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 2rem;
    }
    .video iframe {
        width: -webkit-fill-available;
        margin: auto;
    }
    .grip-container {
        margin: 2rem 0 0;
    }
    .grip-info {
        flex-direction: column;
    }
    .grip-info-heading {
        text-align: center;
    }
    .grip-info-heading h1 {
        font-size: 28px;
    }
    .grip-info-content {
        margin-top: 2rem;
    }
    .content-box h5 {
        font-size: 17px;
    }
    .extra-info-tiles {
        flex-direction: column;
        margin: 2rem auto;
    }
    .tile {
        margin: 1rem 0 0;
    }
    .extra-info-top {
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
    }
    .counter-section {
        flex-direction: column;
    }
    .counter-item {
        flex-direction: column;
    }
    .join-us {
        padding: 0;
    }
}